html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* code batu gunting kertas */

body {
  /* background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: -50px 20px; */
  background-color: lightskyblue;
  font-family: "DynaPuff", cursive;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  margin: 10px 0;
  margin-top: 20px;
  text-transform: uppercase;
  color: #e7e7e7;
  letter-spacing: 5px;
  text-shadow: -4px 3px 3px #787474;
  /* -webkit-text-stroke: 0.1px #787474; */
}

.container {
  padding: 50px 200px 50px 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.area-komputer .info {
  background-color: white;
  position: absolute;
  width: 200px;
  height: 70px;
  bottom: -40px;
  left: 0;
  right: 0;
  margin: auto;

  /* margin-bottom: 10px; */
  z-index: 1;
  border-radius: 20px;
}

.info p {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}
.area-komputer {
  position: relative;
  background-color: lightseagreen;
  height: 250px;
  margin-bottom: 10px;
  border-radius: 20px 20px 0 0;
}

.area-komputer img {
  padding-top: 3vh;
}
.area-player {
  background-color: lightslategray;
  position: relative;
  height: 250px;
  display: flex;
  border-radius: 0 0 20px 20px;
}

.area-player ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 20px;
  /* flex-wrap: wrap; */
}
.area-player ul li {
  /* display: inline-flex; */
  padding-left: 50%;
  padding-top: 10%;
}

/* .area-player ul:last-child {
  padding-bottom: 5%;
} */

.area-player .clenched-fist,
.hand-peace,
.hand {
  transition: 0.3s;

  top: 0;
  cursor: pointer;
}

img {
  width: 130px;
  height: 130px;
  display: block;
  margin: auto;
  border-radius: 50%;
}

.clenched-fist:hover,
.hand-peace:hover,
.hand:hover,
.active {
  box-shadow: 0 0 10px 5px lightseagreen;
}

.clenched-fist:active,
.hand-peace:active,
.hand:active {
  margin-top: 2px;
}
